.cart_component {
}

.wrapper_cart {
    width: 80%;
}

.sidebar_cart {
    width: 20%;
    background-color: white;
    margin-left: 16px;
    border-radius: 8px;
    height: 280px;

}

.bg-container-cart {
    background-color: #f4f4f4;
    height: 120vh;
}

.container_sidebar {
    margin: 8px;
}

.wording-select-all {
    padding-top: 16px;
    padding-left: 16px;
}