.image_cart {
    border-radius: 8px;
}

.container-cart  {
    border-radius: 8px;
    background-color: white;
    margin-bottom: 16px;
}

.checkbox_cart {
    margin-right: 16px;
    height: 32px;
    width: 32px;
}