.wrapper_cart {
    border-radius: 16px;
    background-color: white;
}

.bg-grey {
    background-color: rgb(241, 241, 241);
}
.container-list-product {
    width: 37%;
    background-color: white;
    border-radius: 6px;
    height: fit-content;
    overflow: auto;
}

.accordion-container {
    width: 35%;
}

.container-cart-product {
    margin-bottom: 16px;
}

.container-wording-product {
    margin-left: 24px;
}

.wording-price {
    text-align: right;
}

.image-cart {
    border-radius: 6px;
}

.container-checkout {
    width: 35%;
    background-color: white;
    border-radius: 6px;
    margin-left: 64px;
    min-height: 50vh;
    max-height: fit-content;
}

.wording-payment {
    padding-left: 8px;
    padding-top: 16px;
}
.wording-total-payment {
    padding-left: 8px;
}
.container-address-detail {
    width: 100%;
}

.container-form-address-detail {
    border: none;
    min-height: 20vh;
    max-height: fit-content;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.accordion-item button[aria-expanded="true"] + .accordion-content {
    max-height: 500px; /* Atur sesuai konten */
    opacity: 1;
}

.container-shipping-address {
    max-height: 800px;
    width: 28%;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
}

.container-payment-methods {
    width: 30%;
    background-color: white;
    border-radius: 8px;
    height: fit-content;
}

.button_connected{
    width: 100%;
    background-color: orange;
    
}